build/replace.properties
build/build.number
bin/
.lock-wscript
.waf-*
waf-*
target/
override/
.metadata
dist/
*~
*.bak
*.log
*.pyc
*.egginfo/
*.egg-info/
*.prefs
build.number
*.log.*.gz
*.log
unittest
.DS_Store
.idea
*.iml
git-remote-https.exe.stackdump
*.swp
*.jar
*.war
*.mar
*.zip
*.iso
*.tar.gz
*.tgz
.*
target-eclipse
!.gitignore
.classpath
.settings.xml
.settings/
*.egg-info/
.project
*.class
.idea/

